$primaryColor: #6c63ff;
$secondaryColor: #f7fafd;
$hoverColor: #8582bb;
$whiteColor: #fff;
$textColor: #e8f5fc;
$blackColor: #000;
$borderColor: rgb(227, 227, 227);
$yellowColor: #f8d576;

$paddingLeft: 1rem;
$paddingRight: 1rem;
$paddingTop: 1rem;
$paddingBottom: 1rem;

$paddingLeft-0: 0;
$paddingRight-0: 0;
$paddingTop-0: 0;
$paddingBottom-0: 0;

$padding: 1rem;

$scrollColor: #c1c1c1;

$breakpoint-medium: 1224px;
$breakpoint-small: 520px;

$column-gap: 1rem;

$borderRadius: 0.3rem;
