@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import "./variables";
@import "./buttons.scss";
@import "./forms.scss";
@import "./inputs.scss";
@import "./typography.scss";

html,
body {
  background: $secondaryColor;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

::-webkit-scrollbar-thumb:hover {
  background: #cfc8c8;
}

.aka__atm__page {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aka__atm__login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  row-gap: 1rem;
  img {
    width: 15rem;
  }
}
.aka--atm--row {
  position: relative;
  background: $whiteColor;
  height: 15rem;
  margin-top: 2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 1rem;
  margin-right: 1rem;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
@media (max-width: $breakpoint-small) {
  ::-webkit-scrollbar-thumb {
    background: transparent !important;
  }
  ::-webkit-scrollbar {
    width: 0.2em;
  }
}

@media (max-width: $breakpoint-medium) {
  ::-webkit-scrollbar {
    width: 0.2em;
  }
}
