@import "../styles/variables";

.aka__atm--btn {
  background: $primaryColor;
  border: none;
  border-radius: $borderRadius;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $whiteColor;

  &:focus,
  &:active {
    background: $primaryColor;
    color: $whiteColor;
  }
  &:hover {
    background: $hoverColor;
    color: $whiteColor;
  }
}
