@import "../styles/variables";

.aka__atm--input {
  background: $whiteColor;
  height: 3rem;
  border-radius: $borderRadius;

  &:focus,
  &:active {
    border: 0.1rem solid $yellowColor;
    outline: $primaryColor;
  }
}

.second--input {
  border: 0.1rem solid $primaryColor;
  background: $secondaryColor;
  outline: none;
  padding: 0 1rem;
}
.ant-form-item-control-input-content input::placeholder,
.ant-select-selection-placeholder {
  font-size: 0.8rem;
}
