@import "../styles/variables";

.title {
  font-weight: 800;
  font-size: 1.5rem;
}

.small-text {
  font-size: 0.8rem;
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}
.font-900 {
  font-weight: 900;
}
.primary-text {
  color: $primaryColor;
}
