@import "../../styles/variables";

.aka__atm__app {
  display: flex;
  margin: 0;
  padding: 0;
  .aka__atm__container {
    height: 100vh;
    width: calc(100vw - 15vw);
    overflow-y: auto;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: $breakpoint-small),
  (max-width: $breakpoint-medium) {
  .aka__atm__app {
    .aka__atm__container {
      width: 100vw;
    }
  }
}
