@import "../../styles/variables";

.aka__atm__sidebar {
  background: $primaryColor;
  height: 100vh;
  width: 15vw;
  position: relative;
  display: flex;
  flex-direction: column;
  color: $textColor;
  .top {
    padding: $padding $padding;
    .logo {
      object-fit: contain !important;
      cursor: pointer !important;
      width: 100%;
      height: 100px;
    }
  }
  .menus {
    overflow-y: auto;
    margin-top: 1rem;
    .linkmenu {
      background: transparent;
    }
    .menu,
    .linkmenu {
      margin-bottom: 0.5rem;
      padding: 0.5rem 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 0.3rem;
      font-size: 1rem;
      cursor: pointer;
      transition: all 300ms;
      transition-timing-function: ease-in-out;
      &:hover {
        background: $hoverColor;
        color: #fff;
      }
    }
  }
  .bottom {
    background: $primaryColor;
    border-top: 0.1rem solid $secondaryColor;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: $padding $padding;
  }
}

@media (max-width: $breakpoint-small) {
  .aka__atm__sidebar {
    display: none;
  }
}

@media (max-width: $breakpoint-medium) {
  .aka__atm__sidebar {
    display: none;
  }
}
