@import "../../styles/variables";

.login--container {
  background: $whiteColor;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .login--form {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}
