@import "../../styles/variables";

.aka__atm__nav {
  background: #f7fafd;
  height: 10vh;
  width: 100%;
  padding: $padding $padding;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.mobile__menu {
  background: #fff;
  padding: $padding $padding;
  box-shadow: 0px -1px 1px rgba(100, 100, 111, 0.2);
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  .menu__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    .icon {
      font-size: 1.2rem;
    }
    span {
      margin-top: 0.5rem;
    }
    &:active,
    &:focus {
      color: $primaryColor;
    }
  }
}

@media screen and (max-width: $breakpoint-small),
  (max-width: $breakpoint-medium) {
  .mobile__menu {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }
}
